extends layout

block content
  //-h1= title
  //-p Welcome to #{title}
  div(class='container-fluid')
    div(class='row')
      div(class='col-12 control-panel')
        div(class='row')
          div(id='logo')
          div(class='thumb-back academic')
          div(id='academic-libraries' class='thumbnail orange')
          div(class='thumb-back special')
          div(id='special-libraries' class='thumbnail magenta')
          div(class='thumb-back hospital')
          div(id='hospital-libraries' class='thumbnail lavender')
          div(class='thumb-back public')
          div(id='public-libraries' class='thumbnail red')
          div(class='thumb-back archives')
          div(id='archives' class='thumbnail purple')
          div(class='thumb-back museum')
          div(id='museum-libraries' class='thumbnail blue')
          div(class='thumb-back historical')
          div(id='historical-societies' class='thumbnail darkblue')
          div(class='thumb-back others')
          div(id='other' class='thumbnail yellow')
      div(class='col-12 give-a-little')
        div(id='target')
