doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-1.12.2.min.js')
    script(src='https://d3js.org/d3.v5.js')
    script(src='javascripts/airtable.browser.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Crete+Round|Roboto')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='javascripts/quilt.js')
